@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    align-items: center;
    width: 100%;
    font-family: "Oleo Script", "Dancing Script", "Poppins", sans-serif;
    padding: 30px;
    height: 70px;
    background-color: rgb(137, 115, 88);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
}

.logo img {
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(224, 203, 171);
    position: absolute;
    top: 45px;
    left: 90px;
    white-space: nowrap;
    margin-left: -90px;
}


.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    position: relative;
    z-index: 1;
}

.icon-image {
    width: 24px;
    height: 24px;
    background-image: url('images/logo_png.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
}

.text {
    list-style-type: none;
    display: flex;
}

.text li {
    margin-right: 30px;
    font-size: 20px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.46);
    font-family: "Dancing Script", cursive;
}

.text a {
    color: rgb(224, 203, 171);
    text-decoration: none;
}

.main {
    background: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(224, 203, 171);
}

.main h1 {
    font-size: 48px;
    color: rgb(224, 203, 171);
    font-family: "Oleo Script", system-ui;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.main p {
    color: white;
    font-family: "Oleo Script", system-ui;
    opacity: 75%;
    margin-top: 10px;

}

/* Products */
.products {
    display: flex;
    border-radius: 10px 10px 0px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 75px;
}

.product_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
    padding: 20px 10px;
}

.product_desc p {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    width: 900px;
    font-family: "Oleo Script", system-ui;
}

.product_desc h2 {
    font-family: "Oleo Script", system-ui;
    font-size: 36px;
}

.p1 {
    font-size: 20px;
    justify-content: center;
}

.product {
    width: calc(22% - 20px);
    border: 3px solid rgb(224, 203, 171);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.product_img {
    position: relative;
}

.product_img i.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(68, 66, 64);
    font-size: 24px;
    cursor: pointer;
}

.product_img .icon-circle {
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 22px;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgb(224, 203, 171);
    border-radius: 50%;
}

.product_img .icon-circle:hover {
    background-color: rgb(68, 66, 64);
    color: rgb(224, 203, 171);
}

.product_buy {
    justify-content: space-between;
    margin: 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.product_buy button {
    background-color: rgb(68, 66, 64);
    color: rgb(137, 115, 88);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600px;
    cursor: pointer;
}

.product_buy button:hover {
    background-color: rgb(137, 115, 88);
    color: rgb(68, 66, 64);
}

.product_buy p {
    font-size: 15px;
}

/* background2 */
.main2 {
    background: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url("https://images.unsplash.com/photo-1533779283484-8ad4940aa3a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(224, 203, 171);
}
.main2 h1{
    font-size: 40px;
    font-family:  "Oleo Script", system-ui;
    text-transform: uppercase;
}
.main2 p{
    color: white;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}
/* son seh */
.main3{
    width: 100%;
    height: 100vh;
    text-align: left;
    margin: 30PX;
    
}
.main3 p{

    font-size: 15px;
    justify-content: center;
    text-align: right; }

    .main3{
        display: flex;
        width: 100%;
        justify-content: space-between;
        
    }
    .main3 .texta{
        width: 50%;
    }
    .main3 .aboutimg{
        width: 50%;
        
    }
    .aboutimg img{
        width: 550px;
        height: 400px;
    }